################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FragranticaSolution/.vs/FragranticaSolution/FileContentIndex
