################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FragranticaSolution/.vs/FragranticaSolution/FileContentIndex
/FragranticaSolution/Fragrantica/bin/Debug/net8.0

.vs/
bin/
obj/