@page
@model FragranticaRazor_Temp.Pages.Categories.EditModel

<div class="card shadow-lg border-0 mt-4">
    
    <div class="card-header bg-white text-center py-3">
        <h2 class="text-uppercase fw-bold">Edit Category</h2>
    </div>

  
    <div class="card-body p-4">
        <form method="post">
         <input asp-for="Category.Id" hidden /> 
            <div class="mb-4">
                <label asp-for="Category.Name" class="form-label text-muted">Category Name</label>
                <input asp-for="Category.Name" class="form-control p-3 shadow-sm border" placeholder="Enter category name" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>

            
            <div class="mb-4">
                <label asp-for="Category.DisplayOrder" class="form-label text-muted">Display Order</label>
                <input asp-for="Category.DisplayOrder" class="form-control p-3 shadow-sm border" placeholder="Enter display order" />
                <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
            </div>

           
            <div class="d-flex gap-3">
                <button type="submit" class="btn btn-dark px-5 py-2">Update</button>
                <a asp-page="/categories/index" class="btn btn-outline-dark px-5 py-2">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
